/* -----CSS Reset---------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------memSlider------------*/

* {
	box-sizing: border-box;
}

body {
	
}

.background {
	width: 1280px;
	height: 720px;
	margin: 0 auto;
	background-image: url(https://images.pexels.com/photos/259915/pexels-photo-259915.jpeg?cs=srgb&dl=pexels-pixabay-259915.jpg&fm=jpg);
}

.wrapper_box {
	position: relative;
	width: 400px;
	height: 600px;
	margin: 0px auto 0;
	padding-top: 50px;
	
	
}

.slider {
	background-color: white;
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
	box-shadow: 0 0 30px rgba(0, 0, 0, .8);
	border: 8px solid darkslategray;
	border-radius: 20px;
}

.wrapper_box>input {
	display: none;
}

.slides {
	height: inherit;
	position: absolute;
	width: inherit;
	background-repeat: no-repeat;
	background-size: cover;
}
.slide_1 {
	background-image: url(./assets/portfolio-1.jpg);
	
}
.slide_2 {
	background-image: url(./assets/portfolio-2.jpg);
}
.slide_3 {
	background-image: url(./assets/portfolio-3.jpg);
}
.slide_4 {
	background-image: url(./assets/portfolio-4.jpg);
}
.slide_5 {
	background-image: url(./assets/portfolio-5.jpg);
}
.slide_6 {
	background-image: url(./assets/portfolio-6.jpg);
}


.wrapper_box .controls {
	position: absolute;
	margin-left: 200px;
	/*left: 50%;*/
}

.wrapper_box label {
	position: relative;
	display: inline-block;
	cursor: pointer;
	width: 12px;
	height: 12px;
	border-radius: 25%;
	margin: 25px 12px 0 16px;
}

.wrapper_box label:after {
	position: absolute;
	display: block;
	width: 12px;
	height: 12px;
	border: 5px solid darkslategray;
	border-radius: 25%;
	top: -5px;
	left: -5px;
	content: " "
}

/*--------------Swich slides---------------*/

.wrapper_box label {
	position: relative;
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 30px 6px 0 10px;
	cursor: pointer;
	border-radius: 25%;
	transition: background ease-in-out .5s;
}

.wrapper_box label:hover,
#slide_1:checked ~ .controls label:nth-of-type(1),
#slide_2:checked ~ .controls label:nth-of-type(2), 
#slide_3:checked ~ .controls label:nth-of-type(3),
#slide_4:checked ~ .controls label:nth-of-type(4),
#slide_5:checked ~ .controls label:nth-of-type(5),
#slide_6:checked ~ .controls label:nth-of-type(6) {
	background: #ddd;
}

.slides {
	position: absolute;
	width: inherit;
	height: inherit;
	z-index: 0;
	opacity: 0;
	transform: scale(1.5);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide_1:checked~.slider>.slide_1,
#slide_2:checked~.slider>.slide_2,
#slide_3:checked~.slider>.slide_3,
#slide_4:checked~.slider>.slide_4,
#slide_5:checked~.slider>.slide_5,
#slide_6:checked~.slider>.slide_6 {
	z-index: 1;
	opacity: 1;
	transform: scale(1);
}

.text {
	position: absolute;
	top: 540px;
	left: 20px;
	font-size: 30px;
	font-weight: 600;
	z-index: 10;
	color: rgb(245, 169, 169);
	
}

@media (max-width: 768px) {

}




